body{
background-image:url("madhu.jpeg");
background-repeat:no-repeat;
background-size:cover;
border-widith:10px;
border-color:red;
broder-style:dotted;
}
h2{
color:red;
background-color:blue;
}
img{
height:250px;
weight:200px;
border:5px solid black;
border-radius:10px;
float:right;
}

